@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0; 
}
.container{
    background: rgb(255, 255, 255);
    display:flex;
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top: 19px;
    
}
.logo{
    width: 350px;
    float: left;
}
.logo img{
    width: 170px;
    padding-top: 15px;
}
.nablinks{
    box-sizing: border-box;
    width: 800px;
    float: left;
    margin-bottom:22px;
      
}
.nablinks li{
    box-sizing: inherit;
    display: inline-block;
    margin-top: 15px;
    padding:15px 20px;
    
}
.nablinks li a{
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding:15px;
    color:#282828;
    font-family: sans-serif;
}
.nablinks li a:hover{
    background: #F3F3F3;
    border-radius: 7px;
    transition: 0.4s;
}

.button{
    box-sizing: border-box;
    padding-top: 16px;
}
.button input{
    padding: 14px 28px;
    border: 2px solid #282828;
    border-radius: 4px;
    font-weight: 600;
    background:none;
    font: sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.button input:hover{
    background: #F3F3F3;
    transition: 0.4s;
}
.toggle{
    width: 100%;
    text-align:right;
    box-sizing: border-box;
    color: #282828;
    font-size: 30px;
    padding:15px 25px;
    display: none;
} 
          /* Content-Area*/

.container{
    padding-top:20px;
}  

.left-content{
    width: 1050px;
}
.left-content h2{
    text-transform: capitalize;
    font-size: 60px;
    font-family: sans-serif;
    color: #282828;
}
.left-content p{
    text-transform:;
    font-size: 19px;
    font-family: sans-serif;
     padding-top: 20px;
     line-height: 28px;
     color: #282828;
}

.right-content{
    margin-left:30px ;
    width:1150px;
}
.right-content img{
   max-width:100%;
   height: auto;
}
/* left-content-button*/
.button-2{
    padding-top: 30px;
}
.button-2 button{
    padding: 20px 50px;
    font-size: 18px;
    font-weight:550;
    color: #FFF;
    background-color: #282828;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}
.button-2 button:hover{
    background-color:#111111;
}